@import 'nib'

html, body
    height: 100%

#canvas
    position: absolute
    top: 0
    left: 0
    pointer-events: none

.box
    position: absolute
    z-index: 2
    padding: 2px 4px
    color: #333
    background: rgba(255, 255, 255, 0.7)
    box-shadow: 0 0 5px #BBB

#date
    top: 0
    right: 0
    font-size: 20px

#loading
    top: 40%
    left: 50%
    font-size: 20px
    padding: 4px 10px
    font-weight: bold

#controls
    top: 0
    left: 0
    user-select: none

    .icon
        opacity: 0.5
        width: 32px
        height: 32px
        display: inline-block

        &.active
            opacity: 1
            cursor: pointer

        for name in pause pin play replay zoom
            &.{name}
                background-image: url('/public/img/' + name + '.png')

#categories
    bottom: 0
    left: 0
    user-select: none
    margin: 0

    li
        white-space: nowrap
        cursor: pointer
        font-size: 11px
        padding: 2px 4px

        &.active
            font-weight: bold

            span.circle
                opacity: 1

        span.circle
            border-radius: 50%
            width: 6px
            height: 6px
            display: inline-block
            border: 1px solid #000
            margin-right: 5px
            opacity: 0.5